.blogs-wrapper-item {
    display: flex;
    justify-content: center;
}

.admin-blogs-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.admin-blogs-body {
    display: flex;
}

.admin-blogs-container {
    height: 100vh;
    overflow: scroll;
    width: 100%;
}

::placeholder {
    text-align: end;
    font: 300 0.9rem "Roboto";
}

::placeholder:focus {
    display: none;
}