.publications-wrapper-item {
    display: flex;
    justify-content: center;
}

.admin-publications-wrapper {
    display: flex;
    flex-direction: column;
}

.admin-publication-body {
    display: flex;
}

.admin-publication-container {
    height: 100vh;
    overflow: scroll;
    width: 100%;
}