.numcard-main {
  display: flex;
  align-items: center;
  color: #ffffff;
  border-radius: 50px;
  background: linear-gradient(145deg, #242424, #011455);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.numcard-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 2.5rem;

  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.numcard-context-icon {
  font-size: 3rem;
}

.numcard-context-name {
  font: normal 300 2rem "Roboto", sans-serif;
}

.numcard-context-name {
  font: normal 300 2rem "Roboto", sans-serif;
}

.numcard-divider {
  width: 3px;
  height: 69%;
  background: #5c7c89;
  border-radius: 100%;
}


.numcard-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 900 4rem "Roboto", sans-serif;
  padding: 2rem 2rem;
  color: #92d8e7;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}