.numcard-main {
  display: flex;
  align-items: center;
  color: #f1f1f2;
  border-radius: 50px;
  background: linear-gradient(145deg, #272727, #202020);
  box-shadow: 6px 6px 9px #151515, -6px -6px 9px #333333;
}

.numcard-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 2.5rem;
}

.numcard-context-icon {
  font-size: 3rem;
}

.numcard-context-name {
  font: normal 400 2rem "Roboto", sans-serif;
}

.numcard-divider {
  width: 3px;
  height: 69%;
  background: #92d8e7;
  border-radius: 100%;
}

.numcard-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 900 4rem "Roboto", sans-serif;
  padding: 2rem 2rem;
  color: #92d8e7;
}