.members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.heading {
    text-align: center;
    font-size: 36px;
    padding: 1em;
    font-weight: 800;
    font-family: sans-serif;
    color: rgb(30, 54, 126);
}