.members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em;
    margin-bottom: 100px;
}

.members-heading {
    font: normal 600 3.2em "Kanit", sans-serif;
    text-align: center;
    margin-top: 1em;
    color: rgb(30, 54, 126);
}