.research-main {
  background-color: #ffffff;
}

.research-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #242424;
  padding: 1rem;
  padding-bottom: 0;
}

.research-content-icon {
  font-size: 7rem;
  color: #011455;
}

.research-content-body {
  padding: 1.5rem 2.5rem;
  padding-top: 0;
}

.research-content-body-list-container {
  padding: 1rem;
}

.research-content-body-list-title {
  color: #1f4959;
  font: normal 400 3.5rem "Roboto", sans-serif;
}

.research-content-body-list {
  padding-top: 0.5rem;
  list-style: none;
}

.research-content-body-list>li {
  padding: 0.25rem;
  font: normal 300 1.2rem "Roboto", sans-serif;
}

.research-content-body-list>li::before {
  content: "";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  background: #011455;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  margin-right: 0.6rem;
  /* Also needed for space (tweak if needed) */
}

.research-content-body-list a {
  text-decoration: none;
}

.research-content-body-list a:hover {
  color: #012153;
  transition: color 200ms ease-in-out;
}