.research-main {
  background-color: #f9f7f1;
}

.research-content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #012153;
  padding: 1rem;
  padding-bottom: 0;
}

.research-content-header > h1 {
  font: normal 600 7rem "Kanit", sans-serif;
}

.research-content-icon {
  font-size: 6rem;
  color: rgb(103, 131, 232);
}

.research-content-body {
  padding: 1.5rem 2.5rem;
  padding-top: 0;
}

.research-content-body-list-container {
  padding: 1rem;
}

.research-content-body-list-title {
  color: rgb(103, 131, 232);
  font: normal 500 3rem "Kanit", sans-serif;
}

.research-content-body-list {
  padding-top: 0.5rem;
  list-style: none;
}

.research-content-body-list > li {
  padding: 0.25rem;
  font: normal 300 1.3rem "Kanit", sans-serif;
}

.research-content-body-list > li::before {
  content: ""; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  background: rgb(103, 131, 232);
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  margin-right: 0.6rem; /* Also needed for space (tweak if needed) */
}

.research-content-body-list a {
  color: rgb(103, 131, 232);
  text-decoration: none;
}

.research-content-body-list a:hover {
  color: #012153;
  transition: color 200ms ease-in-out;
}
