@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.about-main {
  padding: 0rem 8rem;
  display: flex;
  gap: 8rem;
  height: 100vh;
  background-color: #242424;
}

.about-img-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.about-img-container {
  object-fit: cover;
  border: 0.75rem solid white;
}

.about-img-container>img {
  width: 100%;
  height: 100%;
}

.about-content {
  display: flex;
  color: #f1f1f2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.about-content-title {
  font: normal 900 6rem "Roboto", sans-serif;
  text-align: center;
  color: #5c7c89;
  width: 100%;
}

.about-content-body {
  text-align: justify;
  font: normal 300 1.1rem "Roboto", sans-serif;
}

.about-content-body>strong {
  color: #92d8e7;
  font-weight: 500;
}

.about-content-body>a {
  text-decoration: none;
}

.about-content-body>a:hover {
  color: #5c7c89;
  scale: 1.1;
  transition: 200ms ease-in-out;
}