.latest-news-main {
  padding: 4rem 8rem;
  background-color: #f9f7f1;
}

.latest-news-heading {
  text-align: center;
  font: normal 600 8rem "Kanit", sans-serif;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 4rem;
}

.latest-news-body {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  gap: 4rem;
  flex-wrap: wrap;
}
