.collab-main-body {
  animation: fadeIn 0.5s ease-in 0s 1 normal both;
}

.collab-opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 10rem;
  gap: 1rem;
  background-color: #1f4959;
  color: white;
}

.collab-opening-title {
  font: normal 900 4rem "Roboto", sans-serif;
  color: #242424;
  animation: slideInLeft 800ms ease-in-out 0s 1 normal both;
}

.collab-opening-body {
  text-align: justify;
  font: normal 300 1.1rem "Roboto", sans-serif;
}

.collab-opening-body>a {
  text-decoration: none;
}

.collab-opening-body>a:hover {
  color: lightskyblue;
}

.collab-content {
  padding: 1.5rem 2.5rem;
}

.collab-content-list-container {
  padding: 1rem;
}

.collab-content-list-title {
  color: #1f4959;
  font: normal 400 2.5rem "Roboto", sans-serif;
}

.collab-content-list {
  padding-top: 0.5rem;
  list-style: none;
}

.collab-content-list>li {
  padding: 0.25rem;
  font: normal 300 1rem "Roboto", sans-serif;
}

.collab-content-list>li::before {
  content: "";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  background: #011455;
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  margin-right: 0.6rem;
  /* Also needed for space (tweak if needed) */
}

.collab-content-list a {
  color: #1f4959;
  font-weight: 400;
  text-decoration: none;
}

.collab-content-list a:hover {
  color: #012153;
  transition: color 200ms ease-in-out;
}

.collab-content>p {
  padding: 1rem;
  font: normal 400 1.1rem "Roboto", sans-serif;
}