.collab-opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 10vw;
  gap: 1rem;
  background-color: var(--color-green);
  color: var(--color-white);
}

.collab-opening-title {
  font: normal 900 clamp(2.3rem, calc(2.6vw + 2.6vh), 5rem) "Roboto", sans-serif;
  color: var(--color-grey);
  animation: slideInLeft 800ms ease-in-out 0s 1 normal both;
}

.collab-opening-body {
  text-align: justify;
  font: normal 300 clamp(0.95rem, calc(0.7vw + 0.7vh), 2rem) "Roboto",
    sans-serif;
  animation: slideInLeft 800ms ease-in-out 0s 1 normal both;
}

.collab-opening-body a:hover {
  color: var(--color-light-blue);
}

.collab-content {
  padding: 1.5rem 2.5vw;
}

.collab-content-list-container {
  padding: 1rem;
}

.collab-content-list-title {
  color: var(--color-green);
  font: normal 400 clamp(2rem, calc(1.7vw + 1.7vh), 4rem) "Roboto", sans-serif;
}

.collab-content-list {
  padding-top: 0.5rem;
  list-style: none;
}

.collab-content-list li {
  padding: 0.3rem;
  font: normal 300 clamp(0.95rem, calc(0.7vw + 0.7vh), 2rem) "Roboto",
    sans-serif;
}

.collab-content-list li::before {
  content: "";
  background: var(--color-green);
  display: inline-block;
  /* Needed to add space between the bullet and the 
  text. Also needed for space (tweak if needed) */
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  margin-right: 0.6rem;
}

.collab-content-list a {
  color: var(--color-green);
  font-weight: 400;
}

.collab-content-list a:hover {
  color: var(--color-dark-blue);
  transition: color 200ms ease-in-out;
}

/* Last line in collab content */
.collab-content > p {
  padding: 1rem;
  font: normal 400 clamp(0.95rem, calc(0.7vw + 0.7vh), 2rem) "Roboto",
    sans-serif;
}
