.collab-content-body {
    padding: 4em 1.5em 4em 1.5em;
    font: normal 300 20px "Kanit", sans-serif;
    background-color: #f9f7f1;
}

.collab-content-body div {
    padding: 1em;
}

.collab-content-body li {
    padding: 0.3em;
}

.collab-content-body a :hover {
    color: #012153;
    scale: 1.1;
    transition: 200ms ease-in-out;
}

.collab-content-body strong,
.collab-content-body h2 {
    color: rgb(103, 131, 232);
}