.alert {
    width: 100vw;
    padding: 0.5em;
    color: white;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0;
    font: normal 300 1.3rem "Roboto", sans-serif;
    animation: fadeIn 1000ms ease-in-out 0s 1 normal both;
}

.alert-content {
    margin-top: 0.3em;
}

.alert-icon {
    font-size: 2em;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}