.alert {
    width: 100vw;
    padding: 1.3em;
    color: white;
    font: bold;
    display: flex;
    gap: 10px;
}

.alert-icon {
    font-size: 1.3em;
}

.alert .error {
    background-color: red;
}

.success {
    background-color: green;
}