.publications-wrapper {
    height: 100vh;
    width: 100vw;
    animation: fadeIn 0.5s ease-in-out 0s 1 normal both;
    background-color: #f1f1f2;
}

.publications-heading {
    color: #1f4959;
    text-align: start;
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 80px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}