.header-main {
  height: 8vh; /* remaining space is filled by carousel in homepage */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #012153;
  background: #001233;
  /* position: sticky; */
}

.app-title {
  color: white;
  margin-left: 2.5rem;
  font: normal 600 2rem "Kanit", sans-serif;
}

.headings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-right: 2.5rem;
}

/* styling Link tags */
.headings > a {
  color: white;
  text-decoration: none;
  font: normal 500 1.1rem "Kanit", sans-serif;
}

.headings > a:hover {
  font-size: larger;
  transition: font-size 0.4s;
}
