*,
*::before,
*::after {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
    object-fit: contain;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 1.5rem 3rem -0.75rem hlsa(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    display: block;
    object-fit: cover;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 600ms ease-in-out;
}

.arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    z-index: 1;
    transition: scale 100ms ease-in-out;
}

.arrow:hover {
    cursor: pointer;
    scale: 1.2;
    color: rgb(86, 86, 188);
    transition: 250ms ease-in;
}

.arrow-left {
    left: 2rem;
}

.arrow-right {
    right: 2rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.indicator {
    background-color: white;
    height: 0.65rem;
    width: 0.65rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.4rem;
}

.indicator:hover {
    cursor: pointer;
    scale: 1.3;
}

.indicator-hidden {
    background-color: gray;
}