.projects-content-body {
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out 0s 1 normal both;
    background-color: #f1f1f2;
}

.projects-content-body h2 {
    color: #242424;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: normal 300 3.5rem "Roboto", sans-serif;
}

.projects-content {
    display: flex;
    gap: 30px;
}

.projects-icon {
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5c7c89;
}