.footer-main {
  width: 100%;
  padding: 0rem 4rem;
  padding-top: 1rem;
  background: #242424;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-item {
  /* display: flex;
  flex-direction: column;
  gap: 0.6rem; */
  padding: 2rem 0;
  font-weight: 300;
  color: white;
}

.footer-item-title {
  font: normal 700 2rem "Roboto", sans-serif;
  color: #92d8e7;
}

.footer-address-detail {
  color: white;
  margin-top: 8px;
}

.footer-quicklinks-detail {
  margin-top: 12px;
}

.footer-address-icon, .footer-quicklinks-icon {
  margin-right: 0.4rem;
  font-size: 1rem;
  color: #5c7c89;
}

.footer-address-detail>a, .footer-quicklinks-detail>a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-address-detail>a:hover, .footer-quicklinks-detail>a:hover {
  color: grey;
  text-decoration: underline;
}

.footer-address-span {
  color: white;
  font-size: 1.1rem;
}

.footer-tag {
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid white;
}

.logo {
  height: 234px;
  width: 180px;
}

@media (max-width: 1000px) {
  .footer-logo {
    display: block;
    text-align: center;
  }
  
  .footer-address {
    flex-basis: 70%;
  }

  .footer-quicklinks {
    flex-basis: 30%;
  }

  .footer-logo {
    flex-basis: 100%;
  }
}

@media (max-width: 800px) {
  .footer-address, .footer-quicklinks {
    /* display: block; */
    /* text-align: center; */
    margin: auto;
  }

  .footer-address {
    flex-basis: 100%;
  }

  .footer-quicklinks {
    flex-basis: 100%;
  }
}