.footer-main {
  width: 100%;
  padding: 0rem 4rem;
  padding-top: 1rem;
  background: #242424;
}

.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 2rem 0;
  font-weight: 300;
  color: white;
}

.footer-item-title {
  font: normal 700 2rem "Roboto", sans-serif;
  color: #92d8e7;
}

.footer-address-detail {
  color: white;
}

.footer-address-icon {
  margin-right: 0.4rem;
  font-size: 1rem;
  color: #5c7c89;
}

.footer-address-detail>a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.footer-address-detail>a:hover {
  color: grey;
  text-decoration: underline;
}

.footer-address-span {
  color: white;
  font-size: 1.1rem;
}

.footer-tag {
  color: white;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid white;
}