.contact-opening {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 10rem;
  gap: 1rem;
  background-color: #1f4959;
  color: white;
}

.contact-opening-title {
  font: normal 900 6rem "Roboto", sans-serif;
  color: #242424;
}

.contact-details-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 2rem 0;
}

.contact-detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  font: normal 300 1.1rem "Roboto", sans-serif;
}

.contact-detail-icon {
  font-size: 6rem;
  padding: 1.3rem;
  border-radius: 100%;
  background: linear-gradient(145deg, #242424, #1f4959);
  box-shadow: 10px 10px 20px #5c7c89, -10px -10px 20px #5c7c89;
}

.contact-detail-text {
  text-align: center;
  color: #92d8e7;
}


.contact-opening-body {
  text-align: justify;
  font: normal 300 1.15rem "Roboto", sans-serif;
}