@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

/* declaring all variables */
:root {
  --color-dark-blue: #011425;
  --color-green: #1f4959;
  --color-grey: #242424;
  --color-light-blue: lightskyblue;
  --color-white: #f1f1f2;

  --responsive-font-size-title: clamp(2.3rem, calc(2.6vw + 2.6vh), 5rem);
  --responsive-font-size-para: clamp(0.95rem, calc(0.7vw + 0.7vh), 2rem); 
}
