.publication {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.publication-container {
    display: flex;
    justify-content: center;
}

.publication-container>ul {
    color: #242424;
    font-weight: 300;
    width: 90%;
}

.publication-container strong {
    font-style: italic;
    font-weight: 700;
    color: #1f4959;
}

.publication-container>a {
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #5c7c89;
}

.publication-container>a:hover {
    color: #1f4959;
    transition: 100ms ease-in-out;
}