.publication {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.publication-container {
    display: flex;
    justify-content: center;
}

.publication-container>ul {
    color: rgb(77, 68, 68);
    width: 90%;
}

.publication-container strong {
    font-style: italic;
    color: lightskyblue;
}

.publication-container>a {
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: lightskyblue;
}

.publication-container>a:hover {
    color: rgb(42, 42, 180);
    transition: 100ms ease-in-out;
}