@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f1f1f2;
}

.login-heading {
    color: #242424;
    font-size: 50px;
}


.login-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 380px;
    height: min-content;
    /* dynamic height, changes as required */
    padding: 48px 24px;
    border: 3px solid #242424;
    border-radius: 16px;
    background-color: #f1f1f2;
}

.login-title,
.login-input,
.login-label,
.login-btn {
    font-family: "Roboto", sans-serif;
}

.login-title {
    align-self: center;
    font-size: 28px;
}

.login-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-label {
    position: absolute;
    top: 12px;
    left: 12px;
    font-size: 18px;
    color: #242424;
    transition: top 0.1s, font 0.1s, color 0.1s;
}

.login-input {
    padding: 12px 12px;
    font-size: 18px;
    border: 2px solid #5c7c89;
    border-radius: 4px;
}

.login-input {
    background-color: #f1f1f2;
}

.login-input:focus {
    outline: none;
    border: 2px solid #011455;
}

/* when login-input is on focus, animate login-label */
.login-input:focus+.login-label {
    top: -12px;
    font-size: 12px;
    padding: 4px;
    background: #f1f1f2;
    color: #5c7c89;
}

/* when user has entered something
in login-input, login-label must stay at top */
.login-input:not(:placeholder-shown):not(:focus)+.login-label {
    top: -12px;
    font-size: 12px;
    padding: 4px;
    background: #f1f1f2;
    color: #4a4a4a;
}

.login-btn {
    align-self: center;
    padding: 10px 16px;
    font-size: 16px;
    background: #5c7c89;
    color: #fff;
    border: 0px;
    border-radius: 6px;
    cursor: pointer;
}

.login-btn:hover {
    background: #1f4959;
    box-shadow: 0px 0px 1px #000;
}

.login-btn:focus {
    outline: #5c7c89 solid 3px;
}

.login-btn:disabled {
    opacity: 0.5;
}

.register-link {
    align-self: center;
    font-family: "Raleway", sans-serif;
}